html, body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
h1{ 
    display: inline-block;
    position: relative;
    font-style: italic;
    font-family: 'Dancing Script';
  
}
h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
    
}
h1::after{
 right:-140px;
    
}
h1::before{
    left:-140px;
}

/* Franco's styling */

#franco {
    font-family: Arial, Helvetica, sans-serif;
}

#franco > ol li {
    display: flex;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
}

#franco > ol li:nth-child(1)::after {
    content: '1';
}

#franco > ol li:nth-child(2)::after {
    content: '2';
}

#franco > ol li:nth-child(3)::after {
    content: '3';
}

#franco > ol li::after {
    margin-left: auto;
    font-size: 4em;
}

#franco > ol li img {
    max-width: 150px;
}

#franco > ol li .franco_song-information {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: space-around;
}

#franco > ol li .franco_song-information p {
    margin: 0 0 3px 0;
    padding: 0;
}

    
#franco > ol li:not(:last-of-type) {
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    #franco > ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    #franco > ol li {
        flex-direction: column;
        width: 160px;
        overflow-wrap: break-word;
    }

    #franco > ol li .franco_song-information {
        padding-left: 0;
    }
}

/* Fernanda change*/
  
#fernanda > h3 {
    font-family: Garamond, serif;
    font-size: 25px;
}

#fernanda > ol li {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.5rem;
    animation: move 3s infinite;
    background: #aebfee;
    background: linear-gradient(81deg, #aebfee 20%, #df94e9 70%); 
    
}

#fernanda > ol li img {
    max-width: 5rem;
    
}

#fernanda > ol li span{
    margin-left: 2rem;
    color: #000;
}
.li{
    display: flex;
    flex-direction: row;
    height: auto;
    border: #000 solid;
    margin: 2rem;
    background-color: #df94e9;
}

.rodrig{
    width: 12rem;
}
.span{
    font-size: larger;
    text-align: center; 
    height: 20px;
    background-color: #aebfee;
    margin-left: 20px;
}
